<!--Navbar-->
<div id="div-navbar">
    <input type="checkbox" id="checkbox-navbar">
    <label for="checkbox-navbar" id="label-checkbox-navbar">
        <i class="fas fa-bars" id="icone-navbar-menu"></i>
    </label>

    <ul id="lista-navbar">
        <li class="item-lista-navbar"> 
            <a href="/home" class="link-item-navbar">
                <i class="fa-solid fa-house icone-link-navbar"></i>
                <span class="nome-item-navbar">Inicio</span>
            </a> 
        </li>
        <li class="item-lista-navbar"> 
            <a href="/list" class="link-item-navbar">
                <i class="fas fa-network-wired icone-link-navbar"></i>
                <span class="nome-item-navbar">Conexões</span>
            </a> 
        </li>
        <li class="item-lista-navbar"> 
            <a href="/configuracoes" class="link-item-navbar">
                <i class="fas fa-cog icone-link-navbar"></i>
                <span class="nome-item-navbar">Configurações</span>
            </a> 
        </li>
        <li class="item-lista-navbar"> 
            <a href="/logout" class="link-item-navbar">
                <i class="fas fa-sign-out-alt icone-link-navbar"></i> 
                <span class="nome-item-navbar">Sair</span>
            </a> 
        </li>
    </ul>
</div>
<script src="../js/navbar/navbarapp.js"></script>
<!--Fim Navbar-->